// ########## All Layout Variables Here ##########
$wrapper-width: 80%;
$space-for-first-element: 7rem;
$space-for-last-element: 7rem;
$space-inbetween-elements: 2rem;
$space-elements: 3rem;

// ########## All Text Variables Here ##########
$font-family: "Josefin Sans";

// ########## All Images Variables Here ##########

// ########## All Colors Variables Here ##########
$primary-color: #e37262;
$secondary-color: #424a54;
$white: #ffffff;
$black: #000000;
$grey-color: #eeeeef;
