#responsive-resume {
  background-color: rgba(67, 74, 84, 0.15);
  .wrapper {
    @include wrapper($wrapper-width);
    .responsive-resume-heading {
      @include H3(center, $primary-color);
      padding-top: $space-for-first-element;
    }
    .responsive-resume-subtitle {
      @include P(center, $secondary-color);
      padding-top: $space-inbetween-elements;
      width: 60%;
      margin: auto;
    }
    .responsive-resume-image {
      display: block;
      margin: auto;
      width: 90%;
      padding-top: $space-inbetween-elements;
    }
  }
}
